dialog.infobox {
  border: 2px solid gray;
  border-radius: 1em;
  max-width: 760px;
  overflow: hidden;

  img:first-child {
    margin: -1em;
    border-bottom: 1px solid black;
  }

  @media (max-width: 800px) {
    img:first-child {
      display: none;
    }
  }

  @media (max-height: 800px) {
    img:first-child {
      display: none;
    }
  }

  @media (max-width: 600px) {
    .info {
      display: none;
    }
    font-size: 0.6em;
    font-size: calc(1em * min(1, 100vw / 600px) * min(1, 100vh / 600px));
  }

  @media (max-height: 600px) {
    .info {
      display: none;
    }
    font-size: 0.6em;
    font-size: calc(1em * min(1, 100vw / 600px) * min(1, 100vh / 600px));
  }

  button {
    padding: 1ex;
    width: 100%;
  }

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
  }
}
