.infobox {
  background: white;
  padding: 1em;
  padding-bottom: 3em;
  max-width: 40em;
  a {
    width: unset !important;
    height: unset !important;
    line-height: unset !important;
  }
}

dialog {
  border: 2px solid gray;
  border-radius: 1em;
  width: 40em;
  overflow: hidden;

  img:first-child {
    margin: -1em;
    border-bottom: 1px solid black;
  }

  #closebutton {
    padding: 1ex;
  }
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
}
