@media print {
  #map, body {
    width: 100vw;
    height: 100vh;
  }

  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  //.leaflet-control-container {
  .leaflet-top, .leaflet-left, .leaflet-bar {
    display: none;
  }

  @page {
    //size: A4;
    margin: 0;
  }
}

.landscape {
  width: 282mm !important;
  height: 195mm !important;;
}

.portrait {
  width: 195mm !important;
  height: 282mm !important;
}

.print, .image {
  .leaflet-control-attribution {
    display: block !important;
    //transform: translateY(-15px) translateX(-15px);
    transform: translate(-10px, -10px);
  }

}

.print {
  .leaflet-control-attribution {
    display: block !important;
    //transform: translateY(-15px) translateX(-15px);
    transform: translate(-10px, -10px);
  }
}

.image {
  .leaflet-top, .leaflet-left, .leaflet-bar {
    display: none;
  }
}
