html,
body,
#map {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#map {
  cursor: crosshair;
}

.grayscale {
  filter: grayscale(100%);
}

.invert {
  filter: invert(100%);
}

.highlight {
  font-weight: bold;
}

.navdata {
  background: white;
  padding: 1ex;
  font-size: 1.2em;
}

.boating div.leaflet-control-attribution {
  margin-left: 10em !important;
}

.ais-tooltip {
  background: none;
  border: none;
  box-shadow: none;
  padding: 1em;
  font-size: 50%;
}

.ais-tooltip::before {
  content: none;
}

.leaflet-control-mouseposition {
  font-family: Consolas, "Courier New", Courier, monospace !important;
  white-space: pre;
  background: white !important;
}

.grid .leaflet-control-mouseposition {
  left: 12px;
  bottom: 11px;
}
